{{> head}}
{{> navbar}}

<div class="row">
  
  <div class="col-8">

    <h1>Paisajes únicos
    </h1>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas deserunt perspiciatis suscipit autem vero. Rerum maxime accusantium ratione quibusdam, quae dolore quam, commodi molestiae, facilis explicabo id dolorem magni animi.
  Delectus, assumenda. Voluptatibus esse cupiditate asperiores labore architecto soluta, vitae repellendus consequuntur at incidunt, nobis rem reiciendis eos saepe eaque tempore voluptates numquam inventore doloribus corrupti alias sed tempora? Sit.
  Laudantium sit expedita aut fuga, fugiat earum ipsum voluptatum dignissimos, quaerat voluptatem beatae, recusandae ipsam perspiciatis quos maxime quasi! Numquam non reprehenderit minus tempore itaque quidem deleniti consequatur obcaecati et!
  Soluta possimus itaque in voluptatum delectus repellendus eum quod! Doloribus iusto enim obcaecati quam molestiae dolor, nobis tenetur numquam, corporis aliquam illum sunt eaque vitae ipsa deserunt. Placeat, provident veritatis!
  Ab rem odit vero. Sit eum laboriosam modi error asperiores dolores facere, nisi voluptates enim quod! Voluptatibus similique porro excepturi quos. Laboriosam optio porro quisquam voluptatibus non dolores cupiditate consectetur?</p>

  </div>
    
    

</div>
<div class="col-12">
      <img src="assets/img/landscape.jpg" class="img-thumbnail" alt="bonita vista">
    </div>


{{> footer}}